<div class="pretty-printer">
  <form novalidate>
    <div class="form-row">
      <div class="col-md-12">
        <label for="inputPrettyCode" class="">
          {{labelText}}
        </label>
        <textarea class="form-control" [ngClass]="{'is-valid': !validationError, 'is-invalid': validationError}" id="inputPrettyCode"
          placeholder="{{placeholderText}}..." [formControl]="fieldControl" aria-describedby="validationErrorText"></textarea>
        <small id="validationErrorText" class="invalid-feedback" *ngIf="validationError">Some problem with JSON validation</small>
      </div>
    </div>
  </form>

  <div class="form-row">
    <div class="col-md-12">
      <pre [innerHTML]="prettyCode"></pre>
    </div>
  </div>
</div>